@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* My CSS */

.font-sans-css {
  font-family: sans-serif !important;
}

.rdp-head::after {
  line-height: 4px;
}

.rdp-tbody::before {
  line-height: 0px;
}

body {
  background-color: theme("colors.secondary.100/10");
}

.bg-gray-gradiant {
  background: linear-gradient(253deg, #595959 0%, rgba(48, 48, 48, 0.64) 100%);
}

.input-transparent {
  background: transparent;
}

.border-glow {
  outline: 3px solid theme("colors.primary.200") !important;
  border: 1px solid theme("colors.primary.500");
}

.select-content {
  min-width: 240px !important;
}
.select-item {
  font-family: sans-serif !important;
  padding-top: 12px;
  padding-bottom: 12px;
}

.select-item:hover {
  background-color: #d7e0fc;
  border: none;
  outline: none;
}

h1,
h2,
h3 {
  letter-spacing: 1.2px;
}

.bg-custom-green {
  background: #d2de32;
}
.text-custom-green {
  color: #d2de32;
}
.bg-custom-sky {
  background: #61a3ba;
}
.text-custom-sky {
  color: #61a3ba;
}
.img-container::after {
  content: "";
  background: #d2de32;
  height: 50%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(0, -50%);
  z-index: -1;
}

.text-third-color {
  color: #5a7184;
}
.text-fourth-color {
  color: #183b56;
}
.clip-sec::after {
  content: "";
  background: #61a3ba;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;

  /* z-index: -1; */
  clip-path: polygon(0% 0, 40px 0%, 0% 100%, 0 50%);
}
.footer-bg {
  background: #fbfced;
}

p {
  font-family: var(--poppins-font);
}
h1,
h2,
h3 {
  font-family: var(--roboto-font);
}

.css-13cymwt-control,
.css-t3ipsp-control {
  border: none !important;
  height: 100% !important;
  background: transparent !important;
  outline: none !important;
  box-shadow: none !important;
  padding-left: 4px !important;
}

/* floating animation */

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.floating {
  animation: float 3s infinite;
}
